body {
	min-height: 100vh;
	// padding-left: 16px;
	//
	// &:before {
	// 	content: "";
	// 	position: fixed;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 0;
	// 	width: 16px;
	// 	background: #F1592A;
	// }
	//
	// @media (max-width: 1000px) {
	// 	padding-left: 8px;
	//
	// 	&:before {
	// 		width: 8px;
	// 	}
	// }

	transition: 0.2s all;

	&.light {
		// background: #FFFEFC;
		background: #FFF;
	}

	&.dark {
		background: #FC625D;
	}

	position: relative;

	&:before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 40px;

		background:
			repeating-linear-gradient(
				45deg,
				dodgerblue 0,
				dodgerblue 13%,
				transparent 13%,
				transparent 26%,
				tomato 26%,
				tomato 39%,
				transparent 39%,
				transparent 50%,
			),
			white;

		background:
			repeating-linear-gradient(
				-45deg,
				transparent 0,
				transparent 25%,
				dodgerblue 0,
				dodgerblue 50%
			),
			repeating-linear-gradient(
				45deg,
				transparent 0,
				transparent 25%,
				tomato 0,
				tomato 50%
			),
			white;

		@media (max-width: 1000px) {
			left: 0;
			top: unset;
			width: 100%;
			height: 40px;
		}

		background-blend-mode: multiply;
		background-size: 40px 40px;
	}
}

.main {
	grid-column: main !important;
}

.full {
	grid-column: full !important;
}
