/* @import url('https://rsms.me/inter/inter.css'); */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.15')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.15')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Italic.woff2?v=3.15')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Italic.woff?v=3.15')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-Bold.woff2?v=3.15')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-Bold.woff?v=3.15')
      format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('https://rsms.me/inter/font-files/Inter-BoldItalic.woff2?v=3.15')
      format('woff2'),
    url('https://rsms.me/inter/font-files/Inter-BoldItalic.woff?v=3.15')
      format('woff');
}

/* @font-face {
  font-family: 'Untitled Serif';
  src: url('./untitled-serif/untitled-serif-web-regular.eot'),
    url('./untitled-serif/untitled-serif-web-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./untitled-serif/untitled-serif-web-regular.woff2') format('woff2'),
    url('./untitled-serif/untitled-serif-web-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Vulf Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./vulf-mono/Vulf_Mono-Italic_web.woff2')
      format('woff2'),
    url('./vulf-mono/Vulf_Mono-Italic_web.woff')
      format('woff');
}

@font-face {
  font-family: 'Vulf Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./vulf-mono/Vulf_Mono-Light_Italic_web.woff2')
      format('woff2'),
    url('./vulf-mono/Vulf_Mono-Light_Italic_web.woff')
      format('woff');
}

@font-face {
  font-family: 'Vulf Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./vulf-mono/Vulf_Mono-Bold_Italic_web.woff2')
      format('woff2'),
    url('./vulf-mono/Vulf_Mono-Bold_Italic_web.woff')
      format('woff');
}