@font-face {
    font-family: 'Tiempos';
    src: url('TiemposText-Medium.woff') format('woff'),
        url('TiemposText-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

/* @font-face {
    font-family: 'Tiempos';
    src: url('TiemposText-SemiboldItalic.woff') format('woff'),
        url('TiemposText-SemiboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: optional;
} */

@font-face {
    font-family: 'Tiempos';
    src: url('TiemposText-RegularItalic.woff2') format('woff2'),
        url('TiemposText-RegularItalic.woff') format('woff'),
        url('TiemposText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: 'Tiempos';
    src: url('TiemposText-Regular.woff2') format('woff2'),
        url('TiemposText-Regular.woff') format('woff'),
        url('TiemposText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'iA Writer Duospace';
    src: url('iAWriterDuospace-Bold.woff2') format('woff2'),
        url('iAWriterDuospace-Bold.woff') format('woff'),
        url('iAWriterDuospace-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'iA Writer Duospace';
    src: url('iAWriterDuospace-BoldItalic.woff2') format('woff2'),
        url('iAWriterDuospace-BoldItalic.woff') format('woff'),
        url('iAWriterDuospace-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: optional;
}

@font-face {
    font-family: 'iA Writer Duospace';
    src: url('iAWriterDuospace-Regular.woff2') format('woff2'),
        url('iAWriterDuospace-Regular.woff') format('woff'),
        url('iAWriterDuospace-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'iA Writer Duospace';
    src: url('iAWriterDuospace-RegularItalic.woff2') format('woff2'),
        url('iAWriterDuospace-RegularItalic.woff') format('woff'),
        url('iAWriterDuospace-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: optional;
}
