@font-face {
  font-family: 'Ivar Text';
  src: url('./ivar-text/IvarText-Regular.woff2') format('woff2'),
    url('./ivar-text/IvarText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivar Text';
  src: url('./ivar-text/IvarText-Italic.woff2') format('woff2'),
    url('./ivar-text/IvarText-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ivar Text';
  src: url('./ivar-text/IvarText-Medium.woff2') format('woff2'),
    url('./ivar-text/IvarText-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ivar Text';
  src: url('./ivar-text/IvarText-MediumItalic.woff2') format('woff2'),
    url('./ivar-text/IvarText-MediumItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}